.page{
    width: 60rem;
    // background: red;
    height: 100%;
    // background: white;
    .dynamicRelease{
        background: white;
        padding: 1rem;
        .dyBtn{
            position: relative;
            right: 20px;
        }
    }
    .dynamic{
        margin-top: 10px;
        background: white;
    }
}